<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Додавання аппендера перед його використанням -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%level] %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Налаштування кореневого логера -->
    <root level="off">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
